@charset "utf-8";

/* 초기화 */
html {overflow-y:scroll}
body {margin:0;padding:0;font-size:0.75em;font-family: Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;background:#f3f3f3;height:100%;}
html, h1, h2, h3, h4, h5, h6, form, fieldset, img {margin:0;padding:0;border:0}
h1, h2, h3, h4, h5, h6 {font-size:1em;font-family:Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}

ul{margin:0;padding:0;list-style:none}
li,dt,dd,ol{margin:0;padding:0}
ol{list-style-position:inside}
legend {position:absolute;margin:0;padding:0;font-size:0;line-height:0;text-indent:-9999em;overflow:hidden}
label, input, button, select, img {vertical-align:middle}
input, button {margin:0;padding:0;font-family:Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;font-size:1em}
button,input[type="submit"] {cursor:pointer}
textarea, select {font-family:Malgun Gothic,"맑은 고딕",AppleGothic,Dotum,"돋움", sans-serif;;font-size:1em}
select {margin:0}
p {margin:0;padding:0;word-break:break-all}
pre {overflow-x:scroll;font-size:1.1em}
a:link, a:visited {color:#000;text-decoration:none}

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

/* 본문 바로가기 */
#to_content a {z-index:100000;position:absolute;top:0;left:0;font-size:0;line-height:0;overflow:hidden}
#to_content a:focus, #to_content a:active {width:100%;height:70px;background:#fff;font-size:2em;font-weight:bold;text-align:center;text-decoration:none;line-height:3.1em}

/*상단*/
#hd h1 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#hd_top{position:fixed;top:0;left:0;width:100%;width:100%;height:50px;background:#3f51b5;z-index:1000}
#hd_top:after{display:block;visibility:hidden;clear:both;content:""}
#logo{background:#2f409f;height:100%;float:left;width:220px;padding:15px 0 15px 50px;text-align:center}
#btn_gnb{background:url(../img/menu-cl.png) 50% 50% no-repeat #223390;width:50px;height:50px;border:0;position:absolute;top:0;left:0;text-indent:-999px;overflow:hidden}
#btn_gnb.btn_gnb_open{background:url(../img/menu-op.png) 50% 50% no-repeat #223390;width:50px;height:50px;border:0;position:absolute;top:0;left:0;text-indent:-999px;overflow:hidden}

#tnb{float:right;padding:10px}
#tnb ul:after{display:block;visibility:hidden;clear:both;content:""}
#tnb li{float:left;position:relative;margin-left:3px}
#tnb a{color:#fff;;padding:0 10px;display:block;line-height:30px;}
#tnb .tnb_service{border-radius:3px;background:#4e5eb7;color:#fff;padding:0 10px;text-align:left;height:30px;line-height:30px;}
#tnb .tnb_service:hover{background:#5969c3}
#tnb  button{width:100px;;border:0;border-radius:3px;background:#4e5eb7;color:#fff;padding:0 30px 0 10px;text-align:left;height:30px;position:relative;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
#tnb  button span{display:block;text-indent:-999px;overflow:hidden;width:30px;border-radius:3px;height:30px;position:absolute;top:0;right:0;background:url(../img/op_btn.png) 50% 50% no-repeat #5969c3}
#tnb  button:hover {background:#5969c3}
#tnb .tnb_mb_area{display:none;background:#5e6dc2;width:100px;position:absolute;padding:5px;margin-top:1px;}
#tnb .tnb_mb_area a{padding:0}
#tnb .tnb_mb_area li{float:none;}
#tnb .tnb_community{background:url(../img/home_icon.png) no-repeat 50% 50%;width:30px;height:30px;overflow:hidden;text-indent:-999px;border-radius:5px}
#tnb .tnb_community:hover{background-color:#2b3d9f}
#tnb .tnb_shop{background:url(../img/shop_icon.png) no-repeat 50% 50%;width:30px;height:30px;overflow:hidden;text-indent:-999px;border-radius:5px}
#tnb .tnb_shop:hover{background-color:#2b3d9f}

/*gnb*/
#gnb{position:fixed;top:0;left:0;max-width:220px;height:100%;padding-top:50px;z-index:999}
#gnb h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
#gnb .gnb_ul{position:relative;height:100%;background:#ebebeb;width:50px}
#gnb .gnb_li{border-bottom:1px solid #ddd }
#gnb .gnb_li button{background-color: #ebebeb;border:0;width:50px;height:50px;text-indent:-999px;overflow:hidden;}
#gnb .gnb_li .menu-1{background:url(../img/menu-1-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .menu-1{background:url(../img/menu-1.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .menu-2{background:url(../img/menu-2-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .menu-2{background:url(../img/menu-2.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .menu-3{background:url(../img/menu-3-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .menu-3{background:url(../img/menu-3.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .menu-4{background:url(../img/menu-4-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .menu-4{background:url(../img/menu-4.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .menu-5{background:url(../img/menu-7-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .menu-5{background:url(../img/menu-7.png) 50% 50% no-repeat #fff}
#gnb .gnb_li .menu-6{background:url(../img/menu-6-1.png) 50% 50% no-repeat #ebebeb }
#gnb .on .menu-6{background:url(../img/menu-6.png) 50% 50% no-repeat #fff}

#gnb .gnb_li button:hover{background-color:#f3f3f3}
#gnb .gnb_oparea{display:none;position:absolute;top:0;left:50px;background:#fff;height:100%;width:170px;padding:20px;border-right:1px solid #dbdbdb;
-webkit-box-shadow: 2px 0 2px  rgba(150,150,150,100.1);
   -moz-box-shadow: 2px 0 2px  rgba(150,150,150,0.1);
        box-shadow: 2px 0 2px  rgba(150,150,150,0.1);}
#gnb .on .gnb_oparea{display:block}
#gnb .gnb_oparea h3{margin-bottom:10px;line-height:18px;font-size:1.17em}
#gnb .gnb_oparea li{line-height:28px}
#gnb .gnb_oparea li a{color:#555}
#gnb .gnb_oparea li a:hover,#gnb .gnb_oparea li .on{color:#435ffe;}

#gnb.gnb_small .gnb_oparea{display:none;}
#gnb.gnb_small .gnb_li:hover .gnb_oparea{display:block;}
.gnb_small .gnb_ul{display:block;}

/*중간*/
#container{padding:100px 0 0 220px;height:100%;background:#fff;min-width:1200px}
#container.container-small{padding-left:50px}
#container_wr{padding:25px;min-height:500px}
#container_title{position:fixed;top:50px;left:0;width:100%;line-height:50px;font-size:1.5em;padding:0 20px;padding-left:240px;border-bottom:1px solid #ddd;background:#fff;z-index:99}
#container.container-small #container_title{padding-left:70px}

/*하단*/
#ft{background:#f3f3f3;padding:0 25px;color:#777;text-align:center}
#ft p{line-height:50px;}
.scroll_top{position:fixed;bottom:10px;right:10px;width:50px;height:50px;border:0;text-align:center;background:#ddd;background:rgba(0,0,0,0.1)}
.scroll_top span.top_img{display:inline-block;width: 0; height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;
border-bottom: 5px solid black;}
.scroll_top span.top_txt{display:block}

/*메인*/
.idx_wr{padding: 0 0 20px;margin:0 0 20px; border-bottom:1px solid #ddd}
.idx_wr h2{text-align: left;font-size: 1.09em;font-weight: bold;display:block}
.idx_wr .local_ov{margin:10px 0}
.idx_wr_last{border-bottom:0}

/*tab*/
.tab_01{border-bottom:1px solid #ddd}
.tab_01:after{display:block;visibility:hidden;clear:both;content:""}
.tab_01 li{float:left;}
.tab_01 li button{padding:0 15px;line-height:40px;border-radius:5px 5px 0 0;;display:block;margin-bottom:-1px;color:#5d5d5d;background:#fff;border:0;}
.tab_01 li button:hover{background:#f3f3f3}
.tab_01 li .selected{border: 1px solid #ddd;border-bottom:1px solid #fff;;border-top:2px solid #3f51b5;color:#000 ;line-height:38px;font-weight:bold}
.tab_01 li .selected:hover{background:#fff}
.tab_content h2,.h2_frm{text-align:left;color:#3f51b5;font-size:1.09em;font-weight:bold;margin:20px 0 10px}
.tab_01 li a{padding:0 15px;line-height:40px;border-radius:5px 5px 0 0;display:block;margin-bottom:-1px;color:#5d5d5d;background:#fff;border:0;}
.tab_01 li a:hover{background:#f3f3f3}

/*table*/
.table_basic table{width:100%;border-collapse:collapse}
.table_basic td{line-height:22px;}
.table_basic table td a{text-decoration:underline}
.table_form table{}
.table_form table caption{position:absolute;font-size:0;line-height:0;overflow:hidden}
.table_form table th{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;background:#f6f6f6;padding: 10px;width:200px;text-align:left}
.table_form table td{border-top:1px solid #e6e6e6;border-bottom:1px solid #e6e6e6;padding: 10px;text-align:left;}
.table_01 table caption{position:absolute;font-size:0;line-height:0;overflow:hidden}
.table_01 table thead th{background:#6f809a;color:#fff;border:1px solid #60718b;font-weight:normal;text-align:center;padding:8px;font-size:0.92em}
.table_01 table tbody td{border:1px solid #d6dce7;padding:5px;text-align:center}
.table_01 table tbody .td_bg1{background:#eff3f9}
.table_01 table tfoot td{border:1px solid #d6dce7;background:#eee;padding:5px;text-align:center}
.table_01 table select{height:27px;line-height:25px;width:100%}
.table_01 table .tbl_input{height:27px;line-height:25px;border:1px solid #d5d5d5;width:100%}
.table_2line table thead th{;padding:5px;}
.empty_table{color:#6f809a;text-align:center;padding:100px 0 !important}
.add_form{border-top:1px solid #ddd;margin-top:20px}

.td_txt_color1{color:#ff3333}
.td_mng a{display:inline-block;height:26px;line-height:26px;border:0;;border-radius:3px;padding:0 8px;margin:1px;text-decoration:none !important}
.td_mng button{height:26px;border:0;border-radius:3px;padding:0 8px;margin:1px;}
.td_mng_s{width:60px}
.td_mng_m{width:100px}
.td_mng_l{width:160px}
.td_tel{width:120px;text-align:left !important}
.td_date{width:100px}
.td_datetime{width:150px}
.td_datetime2{width:120px}
.td_chk{width:40px;}
.td_chk2{width:70px;}
.td_left{text-align:left !important}
.td_num{text-align:right !important}
.td_numsmall{width:40px;}
.td_num_c{width:70px;text-align:center}
.td_num_c2{width:60px;text-align:center}
.td_addr_line .frm_input{margin:1px 0}
.td_ip{width:120px}
.td_id{text-align:left !important;width:150px}
.td_status{width:70px;}
.td_name{text-align:left !important;width:70px}
.td_id{text-align:left !important;width:100px}
.td_group{text-align:left !important;width:80px}
.td_grpset{width:180px;text-align:right !important}
.td_domain{text-align:left !important;width:130px}

/*button*/
.btn_fixed_top{position:fixed;top:60px;right:10px;z-index:100}
.btn_confirm{margin:10px 0}
.btn{height:30px;border:0;;border-radius:5px;padding:0 10px;font-weight:bold;font-size:1.09em;vertical-align:middle}
a.btn{display:inline-block;height:30px;line-height:30px;border:0;;border-radius:5px;padding:0 10px;font-weight:bold;font-size:1.09em;;vertical-align:middle}
.btn_submit{background:#ff4081;color:#fff}
a.btn_submit{background:#ff4081;color:#fff}
.btn_submit:hover{background:#ff1464}
.btn_01,a.btn_01{background:#ff4081;color:#fff;}
.btn_02,a.btn_02{background:#9eacc6;color:#fff;}
.btn_03,a.btn_03{background:#3f51b5;color:#fff;}
.btn_frmline{display:inline-block;background:#9eacc6;color:#fff;height:35px;border:0;border-radius:5px;padding:0 10px}
a.btn_frmline{display:inline-block;background:#9eacc6;color:#fff;height:35px;line-height:33px;border-radius:5px;padding:0 10px;text-decoration:none  !important}
.btn_ov01{display:inline-block;line-height:30px;height:30px;font-size:0.92em;vertical-align:top}
.btn_ov01:after{display:block;visibility:hidden;clear :both;content:""}
.btn_ov01 .ov_txt{float:left;background:#9eacc6;color:#fff;border-radius:5px 0 0 5px;padding:0 5px}
.btn_ov01 .ov_num{float:left;background:#ededed;color:#666;border-radius:0 5px 5px 0;padding:0 5px}
a.btn_ov02{display:inline-block;line-height:30px;height:30px;font-size:0.92em;background:#3f51b5;color:#fff;vertical-align:top;border-radius:5px;padding:0 7px }

/*form*/
.sound_only {display:inline-block !important;position:absolute;top:0;left:0;margin:0 !important;padding:0 !important;width:1px !important;height:1px !important;font-size:0;line-height:0;border:0 !important;overflow:hidden !important}
.frm_input{height:35px;line-height:32px;border:1px solid #d5d5d5;border-radius:3px}
.frm_input_full{width:100%}
.required{background:url('../img/wrest.gif')  top right no-repeat #fff !important}
select{height:35px;line-height:32px;border:1px solid #d5d5d5;}
textarea{width:100%;;border:1px solid #d5d5d5;min-height:80px}

/* 페이지 상단 */
.local_desc {background:#eaeaea;padding:10px 20px;margin:0 0 10px;line-height:1.5em }
.local_desc strong{color:red}
.local_desc li{margin:10px 0}
.local_wr{margin:0 0 10px }
.local_wr:after{display:block;visibility:hidden;clear:both;content:""}
.local_ov{float:left}
.local_ov1{margin-bottom:10px}
.local_sch{float:right}
.local_sch:after{display:block;visibility:hidden;clear:both;content:""}
.local_sch .btn_sch{width:30px;height:30px;border:0;padding:0;float:left;background:url(../img/sch_btn.png) no-repeat 50% 50%;border:1px solid #dcdcdc;border-left:0;;text-indent:-999px;overflow:hidden}
.local_sch .sch_input{height:30px;border:1px solid #dcdcdc;border-right:0;;padding:0 5px;float:left;}
.local_sch select{float:left;height:30px;margin-right:3px;border:1px solid #dcdcdc}
.local_sch01{padding: 10px 0;border-top:1px solid #ddd;}
.local_sch02{float:right}
/*.local_sch02 strong{position:absolute;font-size:0;line-height:0;overflow:hidden}*/
.local_sch02 .sch_input{height:30px;border:1px solid #dcdcdc;padding:0 5px;}
.local_sch02 .btn_sch{width:30px;height:30px;border:0;padding:0;background:url(../img/sch_btn.png) no-repeat 50% 50% #eee;border:1px solid #dcdcdc;text-indent:-999px;overflow:hidden}

/*tooltip*/
.tooltip{}
.tooltip_btn{background:url(../img/tooltip_img.png) no-repeat;width:16px;height:16px;border:0;outline:0}
.tooltip_area{display:none;position:absolute;background:#3f51b5;color:#fff;padding:10px 15px;line-height:18px;font-weight:normal;border-radius:5px;opacity:0.9}

/*pagination*/
.pagination{text-align:center;margin:30px 0}
.pagination h2 {position:absolute;font-size:0;line-height:0;overflow:hidden}
.pg_wr{display:inline-block;padding:0;margin:0;}
.pg_wr a{color:#9f9f9f;display:inline-block;float: left;padding: 0 10px;line-height:30px;text-decoration: none;border: 1px solid #ddd;margin-left:-1px}
.pg_wr a:hover{background-color:#f3f3f3}
.pg_wr a:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px;}
.pg_wr a:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;}
.pg_wr a.active{background:#3f51b5;color:#fff;}
.pg_wr .first{background:url(../img/page_1.png) 50% 50% no-repeat;width:30px;text-indent:-999px;overflow:hidden}
.pg_wr .prev{background:url(../img/page_2.png) 50% 50% no-repeat;width:30px;text-indent:-999px;overflow:hidden}
.pg_wr .next{background:url(../img/page_3.png) 50% 50% no-repeat;width:30px;text-indent:-999px;overflow:hidden}
.pg_wr .last{background:url(../img/page_4.png) 50% 50% no-repeat;width:30px;text-indent:-999px;overflow:hidden}

/*게시판관리*/
#board_list .td_select{width:75px;}

/*휴대폰번호 파일*/
#numbook_file:after{display:block;visibility:hidden;clear:both;content:""}
#numbook_file h2{text-align: left;color: #3f51b5;font-size: 1.09em;font-weight: bold;margin: 0 0 10px}
.numbook_file_wr{float:left;width:50%;padding-right:10px}
.numbook_file_wr2{float:right;width:50%;padding-left:10px}
.numbook_file_wr div{margin:10px 0}
.numbook_file_wr .btn_submit{border:0;}

/*새창*/
.new_win h2{font-size:1.17em;padding:15px 20px; ;background:#fff;border-bottom:1px solid #ddd;}
.new_win_con{margin: 20px; background:#fff;padding:20px}
.new_win_con .table_form table th{width:120px}
.new_win_btn{text-align:center}

/*메뉴*/
#menulist .td_sub_menu{padding-left:30px;background:url(../img/menulist_sub.png) no-repeat 13px 9px}
#menulist .td_sub{background:#eff3f9}
#menulist .td_select{width:90px}
#menu_form .menu_select{margin:0 0 10px}
#menu_form .menu_select select{height:30px;}

/*접속자집계*/
#visit_tab{float:left}
#visit_tab:after{display:block;visibility:hidden;clear:both;content:""}
#visit_tab li{float:left;height:30px;line-height:30px;background:#9eacc6;padding:0 10px;border-right:1px solid #b6bece;color:#fff}
#visit_tab li a{color:#fff}
#visit_tab .selected{background:#3f51b5}
.td_graph{padding:0 !important;}
.visit_bar{position:relative}
.visit_bar span{position:absolute;top:-8px;left:0;height:15px;background: #95b3f8;z-index:1}
.visit_bar_1 span{background:#3f51b5;}
.table_graph tbody tr:hover{background:#eff3f9}

/*메일테스트*/
#mail_test h2{margin-bottom:10px;text-align: left;color: #3f51b5;font-size: 1.09em;font-weight: bold;}
#fsendmailtest{margin:20px 0}
#fsendmailtest .btn_submit{border:0;height:35px;padding:0 10px}
#fsendmailtest label{display:block;margin:0 0 5px;font-weight:bold}

/*세션파일일괄삭제*/
.session_del ul{margin:15px 0;padding-left:20px;}
.session_del li{list-style:disc }
.session_del strong{color:#ff0000}
.session_del p{line-height:1.7em;padding:10px 15px ;background:#f7ecea;border:1px solid #ffb6c1}

/*테마*/
#theme ul{margin:0 -10px}
#theme ul:after{display:block;visibility:hidden;clear:both;content:""}
#theme ul li{float:left;width:25%;padding:10px}
#theme .theme_wr{border:1px solid #d2d2d2;position:relative;background:#f3f3f3}
#theme .theme_img img{width:100%;height:auto}
#theme .theme_tit{border-top:1px solid #d2d2d2;;padding: 10px 120px 10px 15px;font-weight:bold}
#theme .theme_tit a{display:block;line-height:25px}
#theme .theme_btn{position:absolute;bottom:8px;right:5px}
#theme .theme_btn a{display:inline-block;line-height:28px;padding:0 5px;border-radius:5px;vertical-align:middle;font-weight:bold;float:left}
#theme .theme_btn button{line-height:28px;padding:0 8px;border-radius:5px;border:0;vertical-align:middle;font-weight:bold;float:left;margin-left:2px}
#theme .theme_btn .btn_cancle{background:#fff;color:#3f51b5}
#theme .theme_sl .theme_wr{background:#444;border:1px solid #444}
#theme .theme_sl .theme_tit a{color:#fff}
.theme_sl_icon{position:absolute;top:5px;left:5px;background:#ff4081;color:#fff;font-size:0.92em;line-height:23px;padding: 0 6px}
.theme_clear{clear:both}

#theme_detail{display:none;position:fixed;top:50%;height:540px;width:900px;margin-top:-271px;background:#fff;background:#f3f3f3;border:1px solid #000;
-webkit-box-shadow: 1px 2px 5px  rgba(150,150,150,100.5);
   -moz-box-shadow: 1px 2px 5px  rgba(150,150,150,0.5);
        box-shadow: 1px 2px 5px  rgba(150,150,150,0.5);z-index:1000}
#theme_detail:after{display:block;visibility:hidden;clear:both;content:""}
#theme_detail h2{font-size:1.25em;background:#fff;padding:0 15px;line-height:40px;border-bottom:1px solid #d8d8d8}
.theme_dt_img{float:left;padding:20px}
.theme_dt_img img{border:1px solid #aaa;}
.theme_dt_if{float:left;width:235px;padding:20px 0}
.theme_dt_if table{width:100%;border-collapse:collapse;;margin:15px 0 0 ;font-size:0.92em}
.theme_dt_if table th{padding:5px;background:#fff;border-bottom:1px solid #f3f3f3;vertical-align:top;color:#3f51b5}
.theme_dt_if table td{padding:5px;background:#fff;border-bottom:1px solid #f3f3f3}
.theme_dt_if table td a{text-decoration:underline}
.theme_dt_if p{line-height:1.5em}
.if_p_bg{display:inline-block;width:20px;height:1px ;background:#000;margin:30px 0 10px}
#theme_detail .theme_dt_btn{position:absolute;top:0px;right:0px;background:#fff;}
#theme_detail .theme_dt_btn .close_btn{background:url('../img/close.png') 50% 50% no-repeat;width:40px;height:40px;overflow:hidden;border:0;text-indent:-99999px;border-left:1px solid #d8d8d8}
#theme_detail .theme_dt_btn .btn_02{line-height:28px;display:inline-block;vertical-align:top;margin-top:6px;padding:0 6px;border-radius:5px}
#theme_detail .theme_dt_btn .btn_03{line-height:28px;border:0;vertical-align:top;margin-top:6px;padding:0 6px;border-radius:5px}


/*부가서비스*/
.service_wrap{margin:0 -10px}
.service_wrap:after{display:block;visibility:hidden;clear:both;content:""}
.sevice{float:left;width:33.333%;padding:10px;margin-bottom:10px;text-align:center;}
.sevice h3{font-size:1.25em;margin:10px 0;}
.sevice p{line-height:1.5em;margin:10px 20px ;text-align:left}
.sevice  .sevice_wr{border:1px solid #ddd;height:430px;position:relative}
.sevice_1 ul{position:absolute;bottom:0;left:0;width:100%}
.sevice_1 ul:after{display:block;visibility:hidden;clear:both;content:""}
.sevice_1 ul {width:100%;padding:0; margin:0;border-top:1px solid #ddd;}
.sevice_1 ul li{list-style:none;float:left;border-right:1px solid #ddd;width:33.3333%;}
.sevice_1 ul li a{display:inline-block;height:56px;line-height:56px;width:100%;
 background: -webkit-linear-gradient(#fff, #eee);
background: -o-linear-gradient(#fff, #eee); 
background: -moz-linear-gradient(#fff, #eee);
background: linear-gradient(#fff, #eee);}
.sevice_1 ul li img{}
.sevice_1 ul li.last{border:0}
.sevice_1 .svc_btn{position:absolute;bottom:0;left:0;width:100%;width:100%;padding:0; margin:0;border-top:1px solid #ddd;}
.sevice .svc_btn a{display:inline-block;height:56px;line-height:56px;;width:100%;
 background: -webkit-linear-gradient(#fff, #eee);
background: -o-linear-gradient(#fff, #eee); 
background: -moz-linear-gradient(#fff, #eee);
background: linear-gradient(#fff, #eee);}
.service_wrap .svc_img{margin:40px 0 10px}
.sevice_2{clear:both;margin:10px;border:1px solid #ddd;padding:20px;height:110px;position:relative}
.sevice_2 h3{font-size:1.25em;margin: 0 0 10px;}
.sevice_2 .svc_btn{position:absolute;top:0;right:0;height:108px;width:150px;text-align:center;border-left:1px solid #ddd;}
.sevice_2 .svc_btn a{display:block;height:108px;line-height:108px;;width:100%;
 background: -webkit-linear-gradient(#fff, #eee);
background: -o-linear-gradient(#fff, #eee); 
background: -moz-linear-gradient(#fff, #eee);
background: linear-gradient(#fff, #eee);}

/*접속자로그삭제*/
.visit_del_bt{margin:5px 0;border-top:1px solid #eee;padding:5px 0}
.visit_del_bt .btn_submit{border:0;height:35px;padding: 0 5px;border-radius:3px}

/*휴대폰번호 그룹*/
.numgr_sch .frm_input{height:30px}


/*회원정보 업데이트*/
#res_msg{line-height:1.7em;padding:10px 15px;margin:10px 0 ;background:#f7ecea;border:1px solid #ffb6c1}
#sms_mbup dt{font-weight:bold}
#sms_mbup dd{margin-bottom:10px}

/*쇼핑몰 설정*/
#scf_index thead th{text-align:center;border-bottom:0;font-weight:normal;color:#777}
#scf_index td{text-align:center}
#scf_index td select{width:100%}
#mscf_index thead th{text-align:center;border-bottom:0;font-weight:normal;color:#777}
#mscf_index td{text-align:center}
#mscf_index td select{width:100%}

#scf_cardtest_tip{display:none;padding:20px;background:#e9ebf9;margin:10px 0 0 }
#scf_cardtest_tip strong{color:#435ffe}
#scf_cardtest_tip dl {margin:0 0 15px;padding:0;zoom:1}
#scf_cardtest_tip dl:after {display:block;visibility:hidden;clear:both;content:""}
#scf_cardtest_tip dt {float:left;width:80px;font-weight:bold}
#scf_cardtest_tip dd {padding:0;overflow:hidden}

#config_form tbody th a{display:inline-block;padding:5px;font-size:0.92em;background:#333;color:#fff;margin:5px 0 0}
#config_form .kcp_info_fld th{border-left:2px solid #1bb0ab}
#config_form .lg_info_fld th{border-left:2px solid #ec068d;}
#config_form .inicis_info_fld th {border-left:2px solid #6a31c9;}
#config_form .kakao_info_fld th {border-left:2px solid #ffe010}
#config_form .naver_info_fld th {border-left:2px solid #50df64}

#config_form .pg_select button{background:#eee;border:0;padding:0 10px;height:35px;color:#666}
#config_form .pg_select .select{background:#3f51b5;color:#fff}

#scf_sms:after {display:block;visibility:hidden;clear:both;content:""}
.scf_sms_box {float:left;width:20%;;text-align:center;}
.scf_sms_box h4 {margin:0 0 5px}
.scf_sms_img {margin:10px auto;width:159px;height:225px;background:url('../img/sms_bg.jpg') no-repeat 0 0;text-align:center;position:relative}
.scf_sms_img textarea {margin:34px 0 0;width:130px;padding:0 15px;border:0;background:transparent;font-size:0.95em;overflow:hidden;color:#000;line-height:1.7em}
.scf_sms_img span {display:block}
.scf_sms_cnt {display:block;position:absolute;bottom:0;left:0;display:block;margin:10px; background:#c5cbd7;text-align:center;padding:8px;width:120px}
